@model IEnumerable<Entities.Concrete.Sponsor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ManagerPanel/_Layout.cshtml";
}

<br />
<p>
    <a href="/Sponsorr/Create" class="btn btn-success">Create</a>
</p>
<table class="table" id="tablo">
    <thead>
        <tr>
            <th>ID</th>
            <th>IMAGE</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img src=@item.ImagePath style="width:170px; height:150px" /></td>

                <td><a href="/Sponsorr/Bring/@item.Id" class="btn btn-primary">Update</a></td>
                <td><a href="/Sponsorr/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>
}
    </tbody>
    
</table>
