

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        @*@foreach (var item in Model)
        {
            <i class="@item.Icon">@item.Description</i>
        }*@
        <i class="fas fa-clock">
            Starts 2 Sep 2019, 09:00
            Ends 6 Sep 2019, 18:00
        </i>
        <br />
        <br />
        <i class="fas fa-map-marker-alt">Selçuk Üniversitesi, Alaeddin Keykubat Yerleşkesi, Akademi Mah. Yeni İstanbul Cad. No:369 Posta Kodu:42130 Selçuklu-Konya / TÜRKİYE</i>
    </div>
</div>