@model IEnumerable<Entities.Concrete.Registration>

@{
    ViewBag.Title = "Participants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4 style="color:firebrick">Participants</h4>
<hr />
<p>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.FirstName @item.LastName</li>
        }

    </ul>
</p>