
<div class="col-lg-12 container ">
    <div class="w100-content w3-display-container">

        <img class="mySlides" src="~/Images/4g9jyi0.jpeg" style="width:100%">
        <img class="mySlides" src="~/Images/d1.jpg" style="width:100%">
        <img class="mySlides" src="~/Images/d2.jpg" style="width:100%">
        <img class="mySlides" src="~/Images/d3.jpg" style="width:100%">
        <img class="mySlides" src="~/Images/d4.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div>

